* {
  box-sizing: border-box;
}

body {
  background: #e6c8af;
}

#root:focus-visible {
  outline: none;
}

.calc {
  margin: 50px auto;
  width: fit-content;
  border: 1px solid black;
  border-radius: 10px;
  background: #819BD3;
  box-shadow: inset -2px -3px 20px 0px #00000096, 10px 10px 13px 0px #00000096;
}

.screen {
  grid-area: input;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  background: #b6dbf8;
  box-shadow: inset 2px 4px 6px 0px #00000096;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
  user-select: none;
}

.currentInfo {
  margin: 0;
  font-size: 20px;
}

.currentValue {
  margin: 0;
  height: 50px;
  font-size: 50px;
}

.currentValue.error {
  color: red;
}

.grid {
  display: grid;
  grid-template-areas:
    "input input input input"
    "1 2 3 4"
    "5 6 7 8"
    "9 10 11 12"
    "13 14 15 16"
    "17 18 btnResult btnResult";
  padding: 10px;
  justify-content: center;
  gap: 10px;
}

.btn {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: #FCE88F;
  font-size: 25px;
  color: rgb(0, 0, 0);
  user-select: none;
  font-weight: 520;
  box-shadow: 3px 4px 3px 0px #00000096;
}

.btn:hover {
  filter: brightness(120%);
}

.btn:active {
  filter: brightness(85%);
  box-shadow: inset 3px 2px 4px 3px #00000096;
  font-size: 24px;
}

.btn:disabled {
  opacity: 35%;
}

.btnResult {
  grid-area: btnResult;
  width: 100%;
  background: #F98E35;
}

.btnRes {
  background: rgb(209, 1, 1);
  color: wheat;
}

/* кнопки знаков */
.btnSigns {
  background: #f9b835a1;
  color: rgb(0, 0, 0);
}

.btnActive {
  filter: brightness(85%);
  box-shadow: inset 3px 2px 4px 3px #00000096;
  font-size: 24px;
  border-style: inset;
}